{% extends "PendulageAccueilBundle::base.html.twig" %}
{% import "PendulageAccueilBundle::bootstrap.html.twig" as bootstrap%}

{% block title %}PendulageAccueilBundle:Consulter:Lister{% endblock %}

{% block body %}
<h3>Consultation</h3>
{% endblock %}
