{% extends "PendulageAccueilBundle::base.html.twig" %}
{% import "PendulageAccueilBundle::bootstrap.html.twig" as bootstrap%}

{% block title %}PendulageAccueilBundle:Consulter:Lister{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/pendulageaccueil/css/consulter.css')}}">
{% endblock %}

{% block body %}
    <h3>Consultation</h3>

    <form id="form_recherche" action="{{ path('consulter_find') }}" method="POST" >
        <label for="test">Portée :</label>
	<input type="text" id="test" /><br />
        <input type="submit" value="Rechercher"/>
    </form>
    
    <div id="resultats_recherche">
        {% for test in listeConsultation %}
            {{ test.nom }}
        {% endfor %}
    </div >

    {% block javascripts %}
        <script>
            $("#form_recherche").submit(function() {
                var motcle = $("#test").val();
                var DATA = 'motcle=' + motcle;
                $.ajax({
                    type: "POST",
                    url: "{{ path('consulter_find')}}",
                    data: DATA,
                    cache: false,
                    success: function (data) {
                        $('#resultats_recherche').html(data);
                    }
                });
                return false;
            });
        </script>
    {% endblock %}

{% endblock %}
